#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 38, 57);
    padding: 10px;
    min-height: 100vh
}

.container-NavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #106a83;
    width: auto;
    border-radius: 25px;
}

.imgNavBar{
    width: 50px;
    margin: 15px
}

.imgNavBar:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #002c38;
}

.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
    border-radius: 25px;
}

.projects-title{
    color: #ffffff;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px #106a83;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-visualize{
    width: 80%;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    border: none;
    text-decoration: none;
    background-color: #106a83;
}

/* Skills */
.skill-img{
    width: 100px;
}

.skill{
    padding: 0 0 50px 0;
    position: relative;
}

.skill-bx{
    background-color: rgb(255, 255, 255);
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: 5px;
}

.skill h5{
    font-size: 25px;
    font-weight: 700;
}

.skill p{
    color: #333;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2em;
}

.skill-slider{
    width: 70%;
    position: relative;
    margin: 0 auto;
}